<%= link_to "Pages", pages_path %></br>
<%= link_to "Back", "javascript:history.back()" %></br>
<h1>Entities</h1>
<% cache @entities do %>


</p>

<div id="entities">
  <ul>
  <% @entities.each do |entity| %>
    <div>
      <li><strong><%= link_to entity.name, entity_path(entity.id) %></strong> (<%=entity.kind%>)<sup><%=entity.id %></sup> </li>
      <ul>  
      <% entity.properties.each do |property| %>
        <li><%= property.kind %>: <%= property.value %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </ul>
</div>
<% end %>