<h1><%= @entity.name %>
<% if @owner%>
  <sup><%= @entity.eid%></sup> (<%= @entity.public ? "Public" : "Private" %>)</h1>
    <%= link_to :edit_reference, edit_reference_path(@entity.reference.id, current_milieu: @milieu)%>
<% else %>
</h1>
<% end %>

<% if @entity.reference&.text["pub"].present? %>
<h3>Details</h3>
<p><%= markdown(@entity.reference&.text["pub"], @milieu, request) %></p>
<% end %>

<% if @entity.reference&.text["pri"].present? && @private %>
<h3>Private Details</h3>
<p><%= markdown(@entity.reference&.text["pri"], @milieu, request) %></p>
<% end %>

<% unless @properties.empty? then %>
<h2>Properties</h2>
<% @properties.each do |prop| %>
<div>
  <h3>(<%= prop.public == true ? "Public" : "Private" %>) <%= prop.kind.titleize%>: <%= prop.value%></h3>
  <%= prop.detail %>
</div>
</br>
<% end %><% end %>

<% unless @superior_relations.empty? && @inferior_relations.empty? %>
<h2>Relations</h2>
<% end %>
<% unless @superior_relations.empty? %>
<h3>Belongs To</h3>
<% @superiors.zip(@superior_relations).each do |sup, rel| %>
  <div>
    <%= rel.relclass.topbottom&.capitalize %> <%= link_to sup.name, entity_path(sup.id, current_milieu: @milieu) %></br>
  </div>
<% end %>
</br>
<% end %>

<% unless @inferior_relations.empty? %>
<h3>Possesses</h3>
<% @inferiors.zip(@inferior_relations).each do |inf, rel| %>
  <div>
    <%= rel.relclass.bottomtop&.capitalize %> <%= link_to inf.name, entity_path(inf.id, current_milieu: @milieu) %></br>
  </div>
<% end %>
</br>
<% end %>

<div>
<h2>Events</h2>
<% @events.each do |event| %>
  <%= event.ydate.to_s %>: <%= link_to event.name, event_path(event.id, current_milieu: @milieu) %></br>
<% end %>
</div>
