<h1><%= @entity.name %>
<% if @owner%>
  <sup><%= @entity.eid%></sup>
  </h1>
  <%#= link_to "Edit", edit_entity_path(@entity.id, current_milieu: @milieu), data: { controller: "tooltip", tooltip_content_value: "A helpful tip for the link" }%>
<% else %>
</h1>
<% end %>
<h3>Details</h3>
<p><%= @entity.text["pub"] %></p>

<% if @private %>
<h3>Private Details</h3>
<p><%= @entity.text["pri"] %></p>
<% end %>

</br>
<h2>Relations</h2>
<h3>Belongs To</h3>
<% @superiors.zip(@superior_relations).each do |sup, rel| %>
  <div>
    <%= rel.name.capitalize %> <%= link_to sup.name, entity_path(sup.id, current_milieu: @milieu) %></br>
  </div>
<% end %>
</br>
<h3>Possesses</h3>
<% @inferiors.zip(@inferior_relations).each do |inf, rel| %>
  <div>
    <%= link_to inf.name, entity_path(inf.id, current_milieu: @milieu) %></br>
  </div>
<% end %>
</br>
<h2>Events</h2>
<% @events.each do |event| %>
  <div>
  <h3><%= event.ydate.to_s %>: <%= link_to event.name, event_path(event.id, current_milieu: @milieu) %></h3>
  <% if @owner %> <%= event.text["pri"] %></p><% end %>
  <%= event.text["pub"] %></p>
  </div>
<% end %>
