<%= form_with model: @event do |form| %>
  <div>
    <h3>
    <%= form.submit class: "form-button px-2 py-1 rounded-lg" %>
    <h3>
  </div>
  <p>

  <div>
    <strong><%= text_field_tag :ydate, @event.ydate.to_s, class: "text-field" %></strong>
    <strong><%= form.label :date %></br></br></strong>
  </div>

  <div>
    <%= text_field_tag :name, @event.name, class: "text-field" %>
    <strong><%= form.label :name %></br></br></strong>
  </div>
  
  <div>
    <h3><%= form.label :instructions %></h3>
    <ul style="font-style: italic;">
      <li> formation | name-<%= @eidnext %> | kind | creator-eid | public </li>
      <li> founding | name-<%= @eidnext %> | kind | status | parent-eid | Language (if kind=Nation) | public  |</li>
      <li> birth | name-<%= @eidnext %> | gender | parent-eid | public</li>
      <li> exile | entity-eid | name-eid | public |</li>
      <li> raising | entity-eid| name-eid | title | newname-eid | public |</li>
      <li> claiming | name-eid | claimed-eid | kind | public |</li>
      <li> disclaiming | name-eid | disclaimed-eid | kind | public | </li>
      <li> hiring | entity-eid | name-eid | title | public |</li>
      <li> firing | entity-eid | name-eid | public |</li>
      <li> death | name-eid | public | </li>
    </ul>
    </br>
    <% inststring = "" %>
    <% @event.instructions.each{|instruction| inststring += "#{instruction.code}\n"} if !@event.instructions.empty? %>
    <%= text_area_tag "details[instructions]", inststring, class: "large-text-area"%></br>
  </div>

  <p>
  <div>
    <h3><%= form.label :private_details %></h3>
    <%= text_area_tag "details[textpri]", @event&.text["pri"] || "" , class: "large-text-area"%></br>
  </div>
  </p>
  <p>
  <div>
    <h3><%= form.label :public_details %></h3>
    <%= text_area_tag "details[textpub]", @event&.text["pub"] || "", class: "large-text-area"%></br>
  </div>
  </p>
<% end %>