<%= form_with model: @event do |form| %>
  <div>
    <%= form.submit %>
  </div>
  <p>

  <div>
    <%= form.check_box :public %>
    <strong><%= form.label "Public?" %></br></br></strong>
  </div>

  <div>
    <strong><%= form.text_field :ydate.to_s, class: "text-field" %></strong>
    <strong><%= form.label "Date" %></br></br></strong>
  </div>

  <div>
    <%= form.text_field :name, class: "text-field" %>
    <strong><%= form.label "Name" %></br></br></strong>
  </div>
  
  <div>
    <%= form.text_field :kind, class: "text-field", readonly: true  %>
    <strong><%= form.label "Kind" %></br></br></strong>
  </div>

  <div>
    <% codestring = @event.code.join("\n") if @event.code.present? %>
    <strong><%= form.label :instructions %></br></strong>
    <%= text_area_tag :textcode, codestring, class: "large-text-area"%></br>
  </div>

  <div>
    <strong><%= form.label :private_details %></br></strong>
    <%= text_area_tag :textpri, @event&.text["pri"] , class: "large-text-area"%></br>
  </div>

  <p>
  <div>
    <strong><%= form.label :public_details %></br></strong>
    <%= text_area_tag :textpub, @event&.text["pub"]  , class: "large-text-area"%></br>
  </div>
  </p>
<% end %>