<%= link_to "Pages", pages_path %></br>
<%= link_to "Back", "javascript:history.back()" %></br>
<h1>Events</h1>
<% cache @events do %>

</p>

<div id="Events">
  <ul>
  <% @events.each do |event| %>
    <div>
      <% kinds = event.kind.split(",") %>
      <li><%= event.ydate.to_s %>: <%= link_to event.name, event_path(event.id) %><sup>(<%=event.id %>)</sup> 
      - 
      <%=kinds[..3].join(", ")%><%= "..." if kinds.length > 3%> <br></li>
    </div>
  <% end %>
  </ul>
</div>
<% end %>