<h1>Events</h1>
<% if @owner%>
  <strong><%= link_to "Add Event", new_event_path(current_milieu: @milieu) %></strong>
  <%= form_with url: import_events_path(current_milieu: @milieu), multipart: true do |form| %>
    <%= form.file_field :file, accept: '.csv' %>
    <%= form.submit "Import Events" %>
  <% end %>
<% end %>
</p>

<div id="Events">
<%# @dates.keys.each do |date| %>
<% @dates.each do |date, events| %>
<p style="text-indent: 30px;">
<h3><%= date unless events.empty? %> </h3>
  <% events.each do |event| %>
    <%= link_to event.name, event_path(event.id, current_milieu: @milieu) %>
    <% if @owner %><sup><%#=event.id %></sup><%end%> </br>
  <% end %>
  </p>
<% end %>
</div>
