<h1>Events</h1>
<%= link_to "Back", :back, class: "form-button" %><p>
<% if @owner%>
<%= link_to "Add Event", new_event_path(current_milieu: @milieu), class: "form-button" %>
  <%#= form_with url: import_events_path(current_milieu: @milieu), multipart: true do |form| %>
    <%#= form.file_field :file, accept: '.csv', class: "text-field" %>
        <%#= form.submit "Import", class: "form-button px-2 py-1 rounded-lg" %>
  <%# end %>
<% end %>

<table class="rotated-table"> <!-- Add CSS classes for styling (e.g., Tailwind CSS) -->
  <thead>
    <tr class="custom-header">
      <th class="rotate"><div></span>ID</span></div></th>
      <th class="left-align"><div></span>Event</span></div></th>
      <th class="rotate"><div></span>Year</span></div></th>
      <th class="rotate"><div></span>Season</span></div></th>
      <th class="rotate"><div></span>Month</span></div></th>
      <th class="rotate"><div></span>Day</span></div></th>
      <% if @owner %><th class="rotate"><div></span>Index</span></div></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @dates.each do |date, events| %>
    <% year,season,month,day = date.split(".") %>
    <% events.each do |event| %>
      <tr>
        <td><%= event.id%></td>
        <td><%= link_to event.name, event_path(event.id, current_milieu: @milieu) %></td>
        <td><%= year %></td>
        <td><%= season %></td>
        <td><%= month %></td>
        <td><%= day %></td>
        <% if @owner %><td><%= event.i %></td> <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>