<h1><%= @event.ydate.to_s %>: <%= @event.name %></h1>
</p>
<ul>
<div>
<% @event.code.each do |code| %>
    <li><%= code.split("|").join(" | ") %></li>
<% end %>
</div>
</ul>
<%= @event.text["pri"] %></p>
<%= @event.text["pub"] %>
