<h1><%= @event.ydate.to_s %>: <%= @event.name %>
<% if @owner%>
  </h1>
  <%= link_to "Edit", edit_event_path(@event.id, current_milieu: @milieu), data: { controller: "tooltip", tooltip_content_value: "A helpful tip for the link" }%>
<% else %>
</h1>
<% end %>
</p>

<% if @owner %>
<div><ul>
  <% if @event.public %>
    <h3> Public</h3>
  <% else %>
    <h3> Private </h3>
  <% end %>
</div>
<div>
  <% if @event.proc %>
    <h3> Proccessed</h3>
  <% else %>
    <h3> Not Proccessed </h3>
  <% end %>
</br>

<div><ul>
<h3>Event Code</h3>
  <%= simple_format(@instructions.html_safe) %>
<% end %>
</div></ul>

<% if @event.text["pub"].present? %>
<p>
<h3>Details</h3>
<%= markdown(@event.text["pub"], @milieu, request)  %>
</p>
<% end %>

<% if @event.text["pri"].present? %>
<p>
<% if @private %>
<h3>Private Details</h3>
<%= markdown(@event.text["pri"], @milieu, request) %>
<% end %>
<% end %>

<% if @owner%>
  <%= button_to "Delete", @event, method: :delete, data: { turbo_confirm: "Are you sure?" }, params: { current_milieu: @milieu} %>
<% end %>