<%= form_with model: @relclass do |form| %>
<div>
  <%= form.submit "Save", class: "form-button" %>
  <%= hidden_field_tag :current_milieu, @milieu.id %>
</div>

<p>

<table class="left-aligned-table"> <!-- Add CSS classes for styling (e.g., Tailwind CSS) -->
  <thead>
    <tr>
      <th>Class</th>
      <th>Top -> Bottom</th>
      <th>Bottom -> Top</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="left-align-table bg-[#2d2c2c]"><%= form.text_field :kind %></td>
        <td class="left-align-table bg-[#2d2c2c]"><%= form.text_field :topbottom %></td>
        <td class="left-align-table bg-[#2d2c2c]"><%= form.text_field :bottomtop %></td>
      </tr>
  </tbody>
</table>
<% end %>

<p>

<ul class="list-disc list-inside pl-2"><h3>Examples</h3>
  <li><strong>Top -> Bottom: </strong>Nä'drë'e <%= @relclass.topbottom %> Ešoŧ</li>
  <li><strong>Bottom -> Top: </strong>Ešoŧ <%= @relclass.bottomtop %> Nä'drë'e</li>
</ul>