<%= form_with model: @story do |form| %>
  <div>
    <%= form.text_field :chapter, class: "text-field"  %>
    <%= form.label :chapter %></br>
  </div>
  <div>
    <%= form.text_field :title, class: "text-field"  %>
    <%= form.label :title %></br></br>
  </div>
  <div>
    <%= form.text_area :details, class: "large-text-field" %>
  </div>
  </p>
  <div>
    <%= form.submit %>
  </div>
<% end %>