<h1><%= @story.title %> </h1>

<% if @owner%>
  [<%= @story.public ? "Public" : "Private" %>]</br>
  <%= link_to "Edit", edit_story_path(@story.id, current_milieu: @milieu), data: { controller: "tooltip", tooltip_content_value: "A helpful tip for the link" }%>
<% end %>

<div class="container mx-auto px-4">
<p>
<div class = "storytext"><%= markdown(@story.details) %></div>
<p>
<% if @owner%>
  <%= button_to "Delete", @story, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>