<h1><%= @language.name %> Lexemes </h1>
<% if @owner %>
<%= link_to "Add Lexeme", new_lexeme_path(current_milieu: @milieu, language_id: @language.id) , class: "form-button"%>
  <%# <%= form_with url: import_lexemes_path(current_milieu: @milieu, language_id: @language.id), multipart: true do |form| %>
    <%#= form.file_field :file, accept: '.csv', class: "text-field" %>
    <%#= form.submit "Import", class: "form-button px-2 py-1 rounded-lg" %>
  <%# end %>
<% end %>

<table class="left-aligned-table"> <!-- Add CSS classes for styling (e.g., Tailwind CSS) -->
  <thead>
    <tr>
      <% if @owner %> <th>EID</th> <% end %>
      <th>Lexeme </th>
      <th>Part</th>
      <th>Meaning</th>
    </tr>
  </thead>
  <tbody>
    <% @lexemes.each do |lexeme| %>
      <tr>
        <% if @owner %><td><%= lexeme.eid%></td> <% end %>
        <td><%= link_to lexeme.word, lexeme_path(lexeme.id,current_milieu: @milieu, language_id: @language.id) %></td>
        <td><%= lexeme.kind %></td>
        <td><%= lexeme.meaning %></td>
      </tr>
    <% end %>
  </tbody>
</table>