<%= link_to "Languages", languages_path %></br>
<%= link_to "Back", "javascript:history.back()" %></br>

<% cache @lexemes do %>
<h1><%= @lexemes.first.language.name %> Lexemes </h1>

</p>

<div>
<% @lexemes.each do |lexeme| %>
    <%= link_to lexeme.word, lexeme_path(lexeme.id) %><sup><%= lexeme.eid%>-<%=lexeme.id%></sup> (<%= lexeme.kind %>): <%= lexeme.meaning %> </br>
<% end %>
</div>
<% end %>