<h1><%= @lexeme.word %><sup><%= @lexeme.eid%></sup></h1>

<p>
<h3>Part of Speech: <%= @lexeme.kind %> </h3>
<h3>Definition: <%= @lexeme.meaning %> </h3>
<h3>Details: <%= @lexeme.details %> </h3>

<h2>Roots:</h2>
<% @lexeme.sublexemes.each do |sublex| %>
  <div>
  <%= link_to sublex.word, lexeme_path(sublex.id,current_milieu: @milieu) %><sup><%= sublex.eid%>-<%=sublex.id%></sup>: <%= sublex.meaning%></br>
  </div>
<% end %>

<h2>Suplexemes:</h2>
<% @lexeme.suplexemes.each do |suplex| %>
  <div>
  <%= link_to suplex.word, lexeme_path(suplex.id,current_milieu: @milieu) %><sup><%= suplex.eid%>-<%=suplex.id%></sup>: <%= suplex.meaning%></br>
  </div>
<% end %>