<h1><%= @lexeme.word %>
<% if @owner%>
  <sup><%= @lexeme.eid%></sup>
  </h1>
  <%= link_to "Back", :back, class: "form-button" %></br>
  <%= button_to "Delete", @lexeme, method: :delete, data: { turbo_confirm: "Are you sure?" }, params: { current_milieu: @milieu, language_id: @language.id }, class: "form-button" %>
  <%= link_to "Edit", edit_lexeme_path(@lexeme.id, current_milieu: @milieu, language_id: @language.id), data: { controller: "tooltip", tooltip_content_value: "A helpful tip for the link" }, class: "form-button"%></br>
<% else %>
  </h1>
  <%= link_to "Back", :back, class: "form-button" %></br>
<% end %>

<p>
<h3>Part of Speech:</h3> <%= @lexeme.kind %>
<h3>Definition:</h3> <%= @lexeme.meaning %>
<% if @lexeme.details.present? %> <h3>Details:</h3> <%= @lexeme.details %> <% end %>

<% if @lexeme.sublexemes.present? %>
<div>
<h3>Roots:</h3>
<ul class="list-disc list-inside pl-2">
<% @lexeme.sublexemes.sort.each do |sublex| %>
  <li class="marker:text-dlavender"><%= link_to sublex.word, lexeme_path(sublex.id,current_milieu: @milieu, language_id: @language.id) %>
  <% if @owner%><sup><%= sublex.eid%></sup><%end%> : <%= sublex.meaning%></li>
<% end %>
</ul>
</div>
<% end %>

<% if @lexeme.suplexemes.present? %>
<div>
<h3>Derivatives:</h3>
<ul class="list-disc list-inside pl-2">
<% @lexeme.suplexemes.sort.each do |suplex| %>
  <li class="marker:text-dlavender"><%= link_to suplex.word, lexeme_path(suplex.id,current_milieu: @milieu, language_id: @language.id) %>
    <% if @owner%><sup><%= suplex.eid%></sup><%end%>: <%= suplex.meaning%></li>
<% end %>
</ul>
</div>
<% end %>